.horizontal-nav {
  width: 100%;
}

.horizontal-nav_inner, .footer {
  width: var(--grid-maxwidth);
  display: flex;
  margin: auto;
  align-items: center;
  background: linear-gradient(to top, var(--theme-primary-100), var(--theme-primary-90));
  padding:  var(--spacing-lg);
}

.horizontal-nav_inner {
  justify-content: space-between;
}

.footer {
  flex-direction: column;
  justify-content: center;
  font-size: var(--size-font-sm);
  padding:  var(--spacing-lg);
  background: var(--col-background);
}

.footer-nav a {
  margin: var(--spacing-md);
}

.horizontal-nav_authentication {
  width: 300px;
}

.horizontal-nav_brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  color:  var(--col-text-inverse);
  text-decoration: none;
  font-size:  var(--size-font-lg);
}

.horizontal-nav_tagline {
  font-family: var(--font-stack-display);
}
